@import '../env'

.message-super-container
  display: flex
  flex-direction: column
  &.mine
    align-items: flex-end
  &.their
    align-items: flex-start
  .message-container
    display: flex
    background-color: white
    width: fit-content
    border-radius: 100px
    margin: 0.5rem 0.5rem 0
    &.mine
      background-color: $main-color
      color: white
    &.their
      background-color: white
      color: black
    p
      display: flex
      padding: 0.5rem 1rem